<footer class="footer">
    <div class="footer_link right_border">
        <a href="https://github.com/kappnav/kappnav-website/blob/gh-pages/LICENSE" target="_blank" rel="noopener">License</a>
    </div>
    <div class="footer_link right_border">
        <a href="https://github.com/kappnav/kappnav-website/blob/gh-pages/NOTICE.md" target="_blank" rel="noopener">Notice</a>
    </div>
    <div class="footer_link">
        <a href="https://www.ibm.com/privacy" target="_blank" rel="noopener">Privacy</a>
    </div>
</footer>
