---
---
.header {
    grid-area: header;
    background-color: #FFFFFF;
    box-shadow: 0 -6px 29px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header_title {
    display: none;
    vertical-align: middle;

    @media only screen and (max-width: 598px) {
        display: inline;   
    }
}

.social_icons {
    float: right;
    padding: 16px 0px 16px 0px;
    height: 100%;
    & > a > img {
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
    }

    // in mobile view, the social icons are no longer in the header 
    // they only show up when the hamburger icon is clicked 
    @media only screen and (max-width: 598px) {
        display: none;
    }
}

.nav_github_icon, .nav_twitter_icon {
    padding-right: 44px;
}

.nav_slack_icon {
    padding-right: 27px;
}

//hamburger icon
.mobile_menu_button {
    display: none;
    height: 38px;	
    width: 54px;
    border: 1px solid #E5E5E5;	
    border-radius: 2px;
    float: right;
    margin: 12px 16px 10px 0px;
    background-color: #FFFFFF;

    & > div {
        height: 2px;
        width: 25px;
        background-color: #979797;
        margin: 4px 6px 4px 6px;

        @media only screen and (max-width: 420px) {
            margin: 4px 6px 4px 4px;
        }
    }

    // hamburger icon is only shown in mobile view 
    @media only screen and (max-width: 598px) {
        display: block;
    }
}