html, body { width: 100%; height: 100%; margin: 0px; }

.main_container { display: grid; grid-template-columns: 100px 1fr 1fr 100px; grid-template-rows: 58px auto auto auto 540px auto 385px 58px; grid-template-areas: "header  header header header" " . logo_content graphic . " "info info info info" "after_info_line after_info_line after_info_line after_info_line" "customizable  customizable customizable customizable" "after_custom_line after_custom_line after_custom_line after_custom_line" "built_on built_on built_on built_on" "footer  footer footer footer"; margin: 0px; min-height: 100%; font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-size: 24px; color: #393939; line-height: 29px; }

@media only screen and (max-width: 1250px) { .main_container { grid-template-areas: "header header header" " . logo_content . " " . graphic ." " . info . " " . after_info_line . " " . customizable . " " . after_custom_line . " " . built_on . " "footer footer footer"; grid-template-columns: 80px auto 80px; grid-template-rows: 58px repeat(7, auto) 58px; padding: 0px; } }

@media only screen and (max-width: 698px) { .main_container { grid-template-columns: 20px auto 20px; grid-template-rows: 56px repeat(7, auto) 56px; grid-template-areas: "header header header" " . logo_content . " " . graphic . " ". info . " " . after_info_line . " " . customizable . " " . after_custom_line . " " . built_on . " "footer footer footer"; grid-column-gap: 0px; font-size: 20px; line-height: 24px; } }

#socialLinks { display: none; }

#socialLinks > a { color: #474747; padding: 14px 16px; text-decoration: none; font-size: 16px; margin: 0px; }

@media only screen and (min-width: 598px) { #socialLinks { display: none !important; } }

.logo_content { grid-area: logo_content; padding: 100px 37px 85px 0px; border-bottom: 1px solid #555555; }

@media only screen and (max-width: 1250px) { .logo_content { padding: 60px 0px 0px 0px; border: none; } }

.logo { display: flex; }

.logo_svg { height: 144px; width: 169px; }

@media only screen and (max-width: 598px) { .logo_svg { height: 62px; width: 73px; margin-top: 34px; } }

.logo_text { font-size: 21px; padding-left: 30px; margin-top: 34px; }

.logo_text > p { margin: 0px; }

@media only screen and (max-width: 745px) { .logo_text { font-size: 18px; line-height: 28px; } }

@media only screen and (max-width: 480px) { .logo_text { font-size: 14px; padding-left: 15px; } }

#kappnav-title { font-size: 72px; font-weight: bold; line-height: 85px; color: #474747; }

@media only screen and (max-width: 598px) { #kappnav-title { font-size: 44px; line-height: 42px; } }

.description_link { text-decoration: none; color: #28ABE3; }

.site_desc { padding: 62px 0px 62px 0px; margin: 0px; }

@media only screen and (max-width: 598px) { .site_desc { padding: 34px 0px 34px 0px; } }

.graphic { grid-area: graphic; padding: 123px 0px 85px 118px; text-align: right; border-bottom: 1px solid #555555; }

@media only screen and (max-width: 1250px) { .graphic { padding: 60px 0px 60px 0px; justify-self: center; text-align: center; border: none; } }

.triangles_svg { height: 364px; width: 480px; }

@media only screen and (max-width: 598px) { .triangles_svg { height: 230px; width: 320px; } }

.button { height: 60px; width: 208px; border-radius: 8px; background-color: #229fd4; text-align: center; letter-spacing: -0.17px; line-height: 56px; text-decoration: none; color: #FFFFFF; padding: 15px 42px; }

@media only screen and (max-width: 598px) { .button { height: 50px; width: 190px; line-height: 50px; padding: 12px 32px; } }

@media only screen and (max-width: 320px) { .button { height: 33px; width: 115px; line-height: 30px; } }

.info { grid-area: info; grid-row: 3/4; grid-column: 2/4; display: grid; grid-template-columns: 1fr 200px 1fr; grid-template-rows: 230px auto auto; grid-template-areas: "info_title info_title info_title" "summary b_arrow kub_kappnav" "code_example g_arrow crd_sig" "kabanero_info y_arrow kabanero_logo"; text-align: left; padding: 0px 0px 85px 0px; }

.info > p { margin: 0px; }

@media only screen and (max-width: 1250px) { .info { grid-row: 4/5; grid-column: 2/3; padding-bottom: 60px; } }

@media only screen and (max-width: 598px) { .info { grid-column: 2/3; line-height: 24px; } }

.info_title { grid-area: info_title; font-size: 60px; font-weight: 400; letter-spacing: -0.43px; line-height: 130px; text-align: center; }

@media only screen and (max-width: 1000px) { .info_title { grid-row: 1/2; grid-column: 1/3; line-height: 60px; font-size: 50px; } }

@media only screen and (max-width: 598px) { .info_title { font-size: 36px; } }

.summary { grid-area: summary; }

.b_arrow { grid-area: b_arrow; display: flex; justify-content: center; }

.kub_kappnav { grid-area: kub_kappnav; display: flex; justify-content: center; }

.kub_kappnav > img { width: 400px; height: 180px; }

.code_example { grid-area: code_example; display: flex; justify-content: center; padding: 85px; }

.code_example > img { width: 380px; height: 190px; }

.g_arrow { grid-area: g_arrow; display: flex; justify-content: center; }

.crd_sig { grid-area: crd_sig; display: flex; align-items: center; }

.kabanero_info { grid-area: kabanero_info; }

.y_arrow { grid-area: y_arrow; display: flex; justify-content: center; }

.kabanero_logo { grid-area: kabanero_logo; display: flex; align-items: center; justify-content: center; }

.kabanero_logo > img { width: 500px; height: 80px; }

@media only screen and (max-width: 1250px) { .kabanero_logo > img { width: 400px; } }

.after_info_line { grid-area: after_info_line; grid-row: 4/5; grid-column: 2/4; border-bottom: 1px solid #555555; }

.after_info_line > img { position: absolute; margin: -110px 0px 0px -50px; }

@media only screen and (max-width: 1250px) { .after_info_line { grid-row: 5/6; grid-column: 2/3; display: none; } }

.customizable { grid-area: customizable; grid-row: 5/6; grid-column: 2/4; display: grid; grid-column-gap: 60px; grid-template-columns: repeat(3, 1fr); grid-template-rows: 200px auto; grid-template-areas: "customizable_title customizable_title customizable_title" "resources actions applications"; }

.customizable > div > h3 { font-size: 36px; font-weight: 400; letter-spacing: -0.26px; line-height: 44px; text-align: center; }

@media only screen and (max-width: 598px) { .customizable > div > h3 { font-size: 28px; line-height: 21px; } }

.customizable > div > p { letter-spacing: -0.17px; text-align: center; }

@media only screen and (max-width: 1250px) { .customizable { grid-row: 6/7; grid-column: 2/3; justify-self: center; padding-bottom: 60px; } }

@media only screen and (max-width: 1000px) { .customizable { grid-template-columns: 1fr 1fr; grid-template-rows: 100px auto auto; grid-template-areas: "customizable_title customizable_title" "resources actions" "applications applications"; grid-column: 2/3; grid-column-gap: 12px; } }

.customizable_title { grid-area: customizable_title; font-size: 60px; font-weight: 400; letter-spacing: -0.43px; line-height: 130px; text-align: center; }

@media only screen and (max-width: 1000px) { .customizable_title { grid-row: 1/2; grid-column: 1/3; line-height: 60px; font-size: 50px; } }

@media only screen and (max-width: 598px) { .customizable_title { font-size: 36px; } }

.resources { grid-area: resources; }

@media only screen and (max-width: 598px) { .resources { grid-row: 2/3; grid-column: 1/2; } }

.actions { grid-area: actions; }

@media only screen and (max-width: 598px) { .actions { grid-row: 2/3; grid-column: 2/3; } }

.applications { grid-area: applications; }

@media only screen and (max-width: 598px) { .applications { grid-row: 3/4; grid-column: 1/3; } }

.after_custom_line { grid-area: after_custom_line; grid-row: 6/7; grid-column: 2/4; border-bottom: 1px solid #555555; text-align: right; padding-top: 85px; }

.after_custom_line > img { position: absolute; margin: -110px 0px 0px -90px; }

@media only screen and (max-width: 1250px) { .after_custom_line { grid-row: 7/8; grid-column: 2/3; display: none; } }

.built_on { grid-area: built_on; grid-row: 7/8; grid-column: 2/4; display: grid; grid-column-gap: 135px; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 200px 100px; grid-template-areas: "builton_title builton_title builton_title builton_title" "go kubernetes open_liberty node"; text-align: center; padding-bottom: 100px; }

@media only screen and (max-width: 1250px) { .built_on { grid-row: 8/9; grid-column: 2/3; grid-column-gap: 20px; justify-self: center; } }

@media only screen and (max-width: 798px) { .built_on { grid-template-columns: 1fr 1fr; grid-template-rows: 100px auto auto; grid-template-areas: "builton_title builton_title" "go kubernetes" "open_liberty node"; grid-column: 2/3; grid-column-gap: 12px; grid-row-gap: 30px; padding-bottom: 60px; } }

.builton_title { grid-area: builton_title; color: #474747; font-size: 60px; font-weight: 400; letter-spacing: -0.43px; line-height: 72px; text-align: center; }

@media only screen and (max-width: 1000px) { .builton_title { line-height: 60px; font-size: 50px; } }

@media only screen and (max-width: 598px) { .builton_title { font-size: 36px; line-height: 38px; } }

.go { grid-area: go; }

.go > a > img { height: 208px; width: 340px; margin: -50px -68px 0px -66px; /* needed weird margins due to extra whitespace in Go logo file */ }

.kubernetes { grid-area: kubernetes; }

.kubernetes > a > img { width: 102px; }

.open_liberty { grid-area: open_liberty; }

.open_liberty > a > img { width: 132px; margin-top: -16px; }

.node { grid-area: node; }

.node > a > img { width: 90px; }

.footer { grid-area: footer; background-color: #1da766; box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5); text-align: center; }

.footer_link { display: inline-block; margin: 10px 0px 10px 0px; }

.footer_link > a { color: #FFFFFF; letter-spacing: -0.17px; line-height: 20px; text-decoration: none; font-size: 20px; padding: 8px 20px 8px 20px; display: flex; }

@media only screen and (max-width: 598px) { .footer_link > a { font-size: 16px; } }

.right_border { border-right: 2px solid #FFFFFF; }

/*# sourceMappingURL=main.css.map */